body{
  font-family: 'Press Start 2P', cursive;
}

#board{
  background-image: url('../img/punk-scene1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.player{
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

#player1{
  background-image: url('../img/player1-shoot.png');
}

.ball{
  border-radius: 100px;
  background-image: url('../img/purple-bubble.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.life{
  background-image: url('../img/life.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

#game-over{
  height: 200px;
  width: 300px;
  font-size: 24px;
  margin: 100px auto;
}

.walk-left{
  background-image: url('../img/walk-left.gif') !important;
}

.walk-right{
  background-image: url('../img/walk-right.gif') !important;
}

#hideObject{
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
}
