body{
  font-family: 'Press Start 2P', cursive;
}

#board{
  background-image: url('../img/punk-scene1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.player{
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

#player1{
  background-image: url('../img/player1-shoot.png');
}

.ball{
  border-radius: 100px;
  background-image: url('../img/purple-bubble.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.life{
  background-image: url('../img/life.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
